
---
sudo: required

env:
  - app: stash
    port: 7999
  - app: jira
    port: 8080
  - app: crowd
    port: 8095

services:
  - docker

before_install:
  # stop postgres
  - docker ps | grep postgres | awk '{print $1}' | while read w; do docker stop $w; done
  # stop the app if it's still running
  - docker ps | grep ${app} | awk '{print $1}' | while read w; do docker stop $w; done
  #remove exited containers
  - docker ps -a | grep Exited | awk '{print $1}' | while read w; do docker rm $w; done
  # initialize postgres
  - './postgres/build.sh'

script:
  - './${app}/build.sh'
  # Run container in detached state.
  - 'for i in {1..20}; do set +e; curl localhost:${port}; if [ $? -eq 0 ];then break; else test $i -eq 20 && echo "Failed to connect." && exit 2; fi ; sleep 5; done'

after_script:
  # stop everything
  - docker ps | awk '{print $1}' | while read w; do docker stop $w; done
  # remove dead containers
  - docker ps -a | grep Exited | awk '{print $1}' | while read w; do docker rm $w; done
